h1 {
  font-family: "Satisfy", cursive;
  font-size: 2.5rem;
  margin-top: 6rem;
  position: relative;
  right: 22rem;
  text-align: center;
  margin-right: -46rem;
}
body {
  margin-top: 0;
  height: 0;
  font-family: "Montserrat", sans-serif;
}
hr {
  width: 10%;
}
h1:hover {
  color: #ee629e;
  cursor: grab;
}

.heading-line {
  margin-top: 2rem;
  position: absolute;
  top: 7.5rem;
  right: 38rem;
}
.my-name {
  font-size: 46;
}
.my-intro {
  position: absolute;
  left: 40rem;
  top: 18rem;
  line-height: 1.5rem;
  font-family: "Montserrat", sans-serif;
}

.page-links {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #777777;
  position: fixed;
  right: 55rem;
  top: 2.3rem;
}
.link-pad {
  padding: 1rem;
  margin-left: 2rem;
  text-decoration: none;
  color: #777777;
  padding-top: 1rem;
}
.link-pad:hover {
  cursor: grab;
  color: #ee629e;
}
.socials {
  text-align: right;
  margin: 1rem;
  margin-right: 2rem;
  position: fixed;
  top: 1.5rem;
  right: 0;
}

.spacing {
  padding: 0.1rem;
  margin: 0.5rem;
}
.spacing:hover {
  cursor: default;
  color: #ee629e;
}
.myself-in-cpt {
  margin: 5rem;
  position: absolute;
  top: 7rem;
  left: 3rem;
  width: 30%;
  border: 1rem;
  border-radius: 55%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.my-story {
  text-align: center;
  display: block;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  background-color: #fff4f2;
  margin-top: 11rem;
}
.foodie-image {
  margin-top: 5rem;
  margin-right: 45rem;
  position: absolute;
}
.zanzibar-image {
  margin-top: 5rem;
  margin-right: 45rem;
  position: absolute;
  top: -28.5rem;
  left: 25rem;
}

.story {
  padding: 3.5rem;
  line-height: 2rem;
}
.newsletter {
  padding: 5rem;
  position: absolute;
  left: 53.5rem;
  top: 142rem;
}
.yt-video {
  position: absolute;
  right: 40rem;
}
.connect {
  line-height: 2.5rem;
}

