h1 {
  font-family: "Satisfy", cursive;
  font-size: 2.5rem;
  margin-top: 6rem;
  position: relative;
  right: 22rem;
  text-align: center;
  margin-right: -46rem;
}
body {
  margin-top: 0;
  height: 0;
  font-family: "Montserrat", sans-serif;
}
hr {
  width: 10%;
}
h1:hover {
  color: #ee629e;
  cursor: grab;
}

.heading-line {
  margin-top: 2rem;
  position: absolute;
  top: 7.5rem;
  right: 38rem;
}
.my-name {
  font-size: 46;
}
.my-intro {
  position: absolute;
  left: 26rem;
  top: 20rem;
  line-height: 1.5rem;
  font-family: "Montserrat", sans-serif;
}

.page-links {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #777777;
  position: fixed;
  right: 55rem;
  top: 2.3rem;
}
.link-pad {
  padding: 1rem;
  margin-left: 2rem;
  text-decoration: none;
  color: #777777;
  padding-top: 1rem;
}
.link-pad:hover {
  cursor: grab;
  color: #ee629e;
}
.socials {
  text-align: right;
  margin: 1rem;
  margin-right: 2rem;
  position: fixed;
  top: 1.5rem;
  right: 0;
}

.spacing {
  padding: 0.1rem;
  margin: 0.5rem;
}
.spacing:hover {
  cursor: default;
  color: #ee629e;
}
.myself-in-cpt {
  margin: 5rem;
  position: absolute;
  top: 9rem;
}
.ethos {
  margin-right: 10rem;
  margin: 5rem;
  position: absolute;
  left: 54rem;
  top: 9rem;
}
.my-story {
  text-align: center;
  display: block;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  background-color: #fff4f2;
  margin-top: 0;
}
.foodie-image {
  margin-top: 5rem;
  margin-right: 45rem;
  position: absolute;
}
.zanzibar-image {
  margin-top: 5rem;
  margin-right: 45rem;
  position: absolute;
  top: -28.5rem;
  left: 25rem;
}
.graduation {
  position: absolute;
  top: -51.6rem;
  left: 25rem;
  height: 22.5rem;
}
.story {
  padding: 3.5rem;
  line-height: 2rem;
}
.message {
  padding: 5rem;
  position: absolute;
  left: 40rem;
  top: 119.5rem;
}
.yt-video {
  position: absolute;
  right: 40rem;
}
.comment {
  padding: 7.8rem;
  right: 2.8rem;
  position: absolute;
}
